/* Custom Stylesheet */

 */

nav ul a,
nav .brand-logo {
  color: #EEF4ED;
}

h1 {
  color: #EEF4ED;
  background-color: #77567a;
  font-family: 'Oswald', sans-serif;
}

h1 span {
  padding-right: 20px;
  padding-left: 20px;
}

.tagline {
  background-color: #77567A;
}

.section-title {
  background-color: #77567A;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color:black;
}


.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.date {
  color: #77567a;
}
