* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    margin: 0;
  }
  
  header {
    padding: 40px;
    text-align: left;
    color: #555555;
    background-color: #d9e4dd;
  }
  
  h2 {
      font-size: 20px;
  }
  
  /* Nav Bar styling*/
  nav {
    display: flex;
    background-color: #fbf7f0;
    justify-content: center;
    border-style: solid;
    border-width: 1px;
    border-color: #d9e4dd;
  }
  
  nav a {
    color: #555555;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }
  
  /* main work section styling */
  main {
    display: flex;
    flex-wrap: wrap;
  }
  
  p {
      color: #555555
  }
  
  section {
    flex: 1;
    background-color: #fbf7f0;
    padding: 80px;
    text-align: center;
  }
  
  .products div {
      height: 40px;
      align-content: center;
      justify-content: center;
  }
  
  /* feature cards section */
  .products {
    flex: 4;
    background-color: #fbf7f0;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .products img {
      width: 400px;
      height: 265px;
  }
  
  /* feature cards styling */
  .card {
    padding: 10px;
    flex: 0 0 450px;
    color: #555555;
  }
  
  .card header {
    padding: 20px;
  }
  
  .card p {
    text-align: center;
  }
  
  .card img {
    width: 100%;
  }
  
  /*side bar with about, tools, and contact*/
  
  aside {
    flex: 1;
    background-color: #fbf7f0;
    padding: 80px;
    text-align: center;
    max-width: 300px;
    color: #55555525;
  }
  
  aside img {
      border-radius: 100px;
      margin-right: 20px;
  }
  
  aside h2 {
      color: #555555;
  }
  
  aside a {
      color: #555555
  }
  
  ul.no-bullets {
      list-style-type: none;
      margin: 0;
      padding: 0;
      color: #555555;
  }
  
  
  /* footer elements */
  .footer {
      background-color: #555555;
      width: 100%;
  }
  
  /* flex direction */
  @media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
    }
  }
  